html, body {
    height: 100%;
}

div#wrap {
    height: 100%;
}

div#script_panel {
    width: 50%;
    padding: 10px;
}
div#script_panel div.wrap {
    border: 1px solid #ccc;
}

div#output_panel {
    width: 50%;
    padding: 0 10px;
}

div#output_panel div.wrap {
    border: 1px solid #ccc;
}

div#keyspace_panel {
    height: 90%;
    width: 48%;
    padding: 10px;
    float: right;
}

div#keyspace_panel div.wrap {
    border: 1px solid #ccc;
}

form {
    margin-top: 5px;
}

.CodeMirror {
    font-size: 14pt;
}
